body {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:rgb(65, 65, 65);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex-basis: auto;
}